       .flex{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
		  color:#7F695B;	   
          }
          .card {
            /* Add shadows to create the "card" effect */

            transition: 0.3s;
            background-color: #DEBA62;
            width: 20%;
            margin: 15px;
			border-radius: 10px;

          }
          .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
              background-color: white;
                  transform: scale(1.1);
			  
          }

          .container {
            padding: 2px 20px ;
			background-color: #DEBA62;
			border-radius: 10px;
          }
          .container>img {
            width: 100%;
            height: 100px;
          }